@model BudgetEditVm

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Edit Budget</h2>
        <form asp-action="PerformEdit" method="post">
            <input hidden name="returnPage" value="@Model.ReturnPage" />
            <input hidden asp-for="BudgetDto.Id" />
            <div class="form-group">
                <label for="amount">Amount</label>
                <input asp-for="BudgetDto.Amount" class="form-control" id="amount" required>
                <span class="text-danger" asp-validation-for="BudgetDto.Amount"></span>
            </div>
            <button type="submit" class="mt-2 btn btn-primary">Edit</button>
        </form>
    </div>
</div>