@model Category

<div class="card mb-3">
    <div class="card-header">
        <h2 class="display-6">@Model.CategoryName</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Total expenses: @Model.TotalExpenses.ToString("C")</h5>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Actions">
            <!-- Delete form -->
            <form asp-action="Delete" method="post" class="me-2">
                <input hidden name="categoryId" value="@Model.Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <!-- Edit form -->
            <form asp-action="Edit" method="post" class="me-2">
                <input type="hidden" name="page" value="@Context.Request.Query["page"]" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CategoryName" />
                <input type="hidden" asp-for="UserId" />
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>
