@model EntrySearchFormVm

<!-- Search form -->
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Search Incomes</h2>
        <form asp-action="Search" method="get">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="dateStart">Start Date</label>
                        <input asp-for="Criteria.DateStart" type="date" class="form-control" id="dateStart">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="dateEnd">End Date</label>
                        <input asp-for="Criteria.DateEnd" type="date" class="form-control" id="dateEnd">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="categoryId">Category</label>
                <select asp-for="Criteria.CategoryId" asp-items="Model.Categories" class="form-control" id="categoryId"></select>
            </div>
            <div class="form-group">
                <label for="tagInput">Tags</label>
                <input asp-for="Criteria.StringTags" type="text" class="form-control" id="tagInput" placeholder="Enter tags">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input asp-for="Criteria.Description" type="text" class="form-control" id="description">
            </div>
            <button type="submit" class="mt-2 btn btn-primary">Search</button>
        </form>
    </div>
</div>
