@model EntryRecFormVm

<!-- Add Income form -->
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Add Recurring @Model.EntryType</h2>
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label for="categoryId">Category</label>
                <select asp-for="EntryRecDto.CategoryId" asp-items="Model.Categories" class="form-control" id="categoryId" required></select>
            </div>
            <div class="form-group">
                <label for="tagInput">Tags</label>
                <input asp-for="EntryRecDto.StringTags" type="text" class="form-control" id="tagInput" placeholder="Enter tags">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input asp-for="EntryRecDto.Description" type="text" class="form-control" id="description">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input asp-for="EntryRecDto.Amount" class="form-control" id="amount" required>
                <span class="text-danger" asp-validation-for="EntryRecDto.Amount"></span>
            </div>
            <div class="form-group">
                <label for="recurringInterval">Interval in days</label>
                <input asp-for="EntryRecDto.RecurringInterval" type="number" class="form-control" id="description">
                <span class="text-danger" asp-validation-for="EntryRecDto.RecurringInterval"></span>
            </div>
            <div class="form-group">
                <label for="endDate">Termination date</label>
                <input asp-for="EntryRecDto.EndDate" class="form-control" id="description">
                <span class="text-danger" asp-validation-for="EntryRecDto.EndDate"></span>
            </div>
            <small id="successMessage" class="d-block text-success">@TempData["Success"]</small>
            <button type="submit" class="mt-2 btn btn-primary">Add</button>
        </form>
    </div>
</div>