<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BudgetTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BudgetTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BudgetTracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.User.Identity is not null && Context.User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Budget" asp-action="Index">Budgets</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="incomeDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">Income</a>
                                <ul class="dropdown-menu" aria-labelledby="incomeDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="Income" asp-controller="Incomes" asp-action="Index">Incomes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Income" asp-controller="IncomesRec" asp-action="Index">Recurring Incomes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Income" asp-controller="Categories" asp-action="Index">Categories</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="expenseDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">Expense</a>
                                <ul class="dropdown-menu" aria-labelledby="expenseDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="Expense" asp-controller="Expenses" asp-action="Index">Expenses</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Expense" asp-controller="ExpensesRec" asp-action="Index">Recurring Expenses</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Expense" asp-controller="Categories" asp-action="Index">Categories</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="profileDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">View Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="Logout">Log out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BudgetTracker
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
