@model IncomeCategory

<div class="card mb-3">
    <div class="card-header">
        @Model.CategoryName
    </div>
    <div class="card-body">
        <!-- Additional information here -->
        <!-- Replace with your own content -->
        <p>Additional info for @Model.CategoryName</p>
    </div>
    <div class="card-footer">
        <form asp-action="Delete" class="btn-group" method="post" role="group">
            <input hidden name="categoryId" value="@Model.Id"/>
            <!-- Edit button -->
            <button type="submit" class="btn btn-primary">Edit</button>
            <!-- Delete button -->
            <button type="submit" class="btn btn-danger">Delete</button>
            <!-- More button -->
            <button type="submit" class="btn btn-secondary">More</button>
        </form>
    </div>
</div>

