<div class="flashcard">
    <div class="flashcard-front">
        <div class="flashcard-page-content">
            <div class="more-button" onclick="showAdditionalFunctionality(this)"><span></span></div>
            <p class="flashcard-front-text"></p>
            <div class="more-interface _hidden">
                <form class="deletion-form">
                    <input type="hidden" />
                    <button tabindex="-1" type="submit" class="button more-interface-button">Delete</button>
                </form>
                <form>
                    <input type="hidden" />
                    <button tabindex="-1" type="submit" class="button more-interface-button">Update</button>
                </form>
            </div>
        </div>
        <button class="button flashcard-show-button" onclick="flipCard(this)">Show</button>
    </div>
    <div class="flashcard-back">
        <div class="flashcard-page-content">
            <div class="more-button" onclick="showAdditionalFunctionality(this)"><span></span></div>
            <p class="flashcard-front-text"></p>
            <div class="more-interface _hidden">
                <form class="deletion-form">
                    <input type="hidden" />
                    <button tabindex="-1" type="submit" class="button more-interface-button">Delete</button>
                </form>
                <form>
                    <input type="hidden" />
                    <button tabindex="-1" type="submit" class="button more-interface-button">Update</button>
                </form>
            </div>
        </div>
        <div class="flashcard-back-buttons">
            <button class="button flashcard-failure-button" onclick="flipCard(this)">Again()</button>
            <button class="button flashcard-difficulty-button" onclick="flipCard(this)">Hard()</button>
            <button class="button flashcard-success-button" onclick="flipCard(this)">Good()</button>
        </div>
    </div>
</div>