@using Flash.Models.ViewModels
@model DeckOnPage
@{
    string? returnUrl = Url.Page("/Decks", new 
    {
        pageNumber = Model.Page,
        searchTerm = Model.SearchTerm
    });
    Dictionary<string, string?> routeValues = new()
    {
        { "deckId", Model.Deck.Id.ToString() },
        { "returnUrl", returnUrl }
    };
}
<div class="deck-block">
    <form method="post" asp-page-handler="select" asp-all-route-data="routeValues" class="deck-selector-form">
        <button type="submit" class="page-chosen">@Model.Deck.Name</button>
    </form>
    <form method="post" asp-page-handler="delete" asp-all-route-data="routeValues">
        <button type="submit" class="button delete-button">Delete</button>
    </form> 
</div>