@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: "AbhayaLibre";
    src: url("../fonts/AbhayaLibre-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "AbhayaLibre";
    src: url("../fonts/AbhayaLibre-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "AbhayaLibre";
    src: url("../fonts/AbhayaLibre-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "AbhayaLibre";
    src: url("../fonts/AbhayaLibre-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "AbhayaLibre";
    src: url("../fonts/AbhayaLibre-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Monseratt";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-weight: 700;
}

/* GENERAL */
body {
    background-color: #000;
    background-image: url("../artifacts/background.png");
    background-position: top;
}

.content {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

/* HEADER */
#header-logo {
    background-image: url(../artifacts/logo.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 83.95px;
    margin: 15px 15px 0 50px; 
}

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0 400px;
    background: #fff;
    font-size: 17px;
}

.nav {
    display: flex;
    gap: 0 100px;
    font-family: "AbhayaLibre", Arial;
}

.nav-item {
    position: relative;
}

.nav-item >a {
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
}

.nav-item a {
    color: #134003;
}

.nav-item:hover >a {
    color: #719004;
    font-weight: 700;
}

.nav-item:hover .sub-vertical {
    display: block;
}

.nav-item:hover .triangle {
    border-color: #719004 transparent transparent transparent;
    transform: rotate(180deg);
}

.sub-vertical .sub-item:hover .sub-horizontal {
    display: block;
}

.sub-vertical, .sub-horizontal {
    display: none;
    white-space: nowrap;
    background-color: #fff;
    position: absolute;
    z-index: 2;
}

.sub-vertical {
    left: -20px;
    top: 100%;  
}

.sub-horizontal {
    top: -16px;
    left: 100%;
}

.sub-item a {
    font-weight: 400;
}

.sub-item:hover >a {
    color: #719004;
}

.sub-item {
    margin: 16px 0;
    position: relative;
    padding: 0 40px 0 20px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11.7px 7px 0 7px;
    display: inline-block;
    border-color: #2F2F2F transparent transparent transparent;
}

.arrow {
    width: 10px;
    height: 10px;
    border: solid #9C9C9C;
    border-width: 0 1px 1px 0;
    right: 20px;
}

.arrow-right {
    position: absolute;
    transform: rotate(-45deg);
}

.arrow-bottom {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 0 0 3px 10px;
}

/* CONTENT */
.emblems {
    margin-top: 43px;    
    display: flex;
    flex-wrap: wrap;
    gap: 0 300px;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}

.list-item a {
    font-size: 32px;
    line-height: 2.25;
    padding-left: calc(72px + 22px);
    font-family: "Monseratt";
    font-weight: 700;
}

.list-item {
    position: relative;
}

.list-item::before {
    background-image: url("../artifacts/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 72px;
    height: 72px;
    background-color: #2DC071;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.badges-list {
    font-size: 0;
    display: flex;
    gap: 0 32.53px;
    padding: 24.92px 0;
    background-color: #fff;
    z-index: 2;
}

.badges-wrapper {
    margin-top: 85px;
    padding: 0 55px;
}

.badges-support {
    position: relative;
    z-index: 1;
}

.badges-rounding::before {
    z-index: -1;
    content: "";
    width: 110px;
    right: calc(100% - 55px);
    height: 100%;
    background-color: #fff;
    border-radius: 50% 0 0 50%;
    position: absolute;
}

.badges-rounding::after {
    z-index: -1;
    content: "";
    width: 110px;
    left: calc(100% - 55px);
    top: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 0 50% 50% 0;
    position: absolute;
}

#bootstrap-logo {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: #563D7C;
    background-image: url("../artifacts/bootstrap_letter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#javascript-logo {
    width: 70px;
    height: 70px;
    background-color: #F5DE19;
    background-image: url("../artifacts/javascript_letters.svg");
    background-repeat: no-repeat;
    background-position: bottom 5.22px right 5.22px;
}

/* TABLES */
table {
    border-collapse: collapse;
}

th {
    font-weight: normal;
}

.ticker-table, .ticker-table-two, .currency-table {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.4;
    background-color: #fff;
}

.ticker-table {
    margin-top: 45px;
    width: 715px;
}

.ticker-table thead th {
    background-color: #F7F7FA;
    color: #9A99A2;
}

.ticker-table thead {
    border-bottom: 1px solid #D1CFD7;
}

.ticker-table td, .ticker-table th,
.ticker-table-two td, .ticker-table-two th {
    padding: 4px 8px;
}

.ticker-table td {
    color: #232326;
}

.ticker-table tr:nth-child(even) {
    background-color: #F7F7FA;
}

.ticker-table th:first-child,
.ticker-table th:nth-child(2) {
    text-align: start;
}

.ticker-table td:nth-child(3),
.ticker-table td:nth-child(4),
.ticker-table td:nth-child(5),
.ticker-table th:nth-child(3) {
    border-left: 1px solid #D1CFD7;
    text-align: center;
}

.ticker-table td:first-child,
.ticker-table-two td:first-child {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3;
}

.ticker-table td:first-child {
    width: 136px;
}

.ticker-table td:nth-child(2) {
    width: 281px;
}

.ticker-table-two {
    margin-top: 45px;
    width: 1000px;
}

.ticker-table-two thead {
    font-family: 'Source Sans Pro', sans-serif;
}

.ticker-table-two th {
    color: #fff;
    background: #4E4E53;
}

.ticker-table-two th {
    text-align: start;
}

.ticker-table-two td:nth-child(3),
.ticker-table-two td:nth-child(5),
.ticker-table-two td:nth-child(4) {
    text-align: right;
}

.ticker-table-two td:first-child {
    width: 186px;
}

.ticker-table-two td:nth-child(2) {
    width: 383px;
}

section.cryptocurrency {
    margin-top: 45px;
}

section.cryptocurrency h2 {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.currency-table {
    width: 1200px;
    color: #fff;
    font-size: 14px;
}

.currency-table thead, .currency-table tfoot {
    background: #303030;
}

.currency-table thead th {
    font-weight: 700;
    opacity: 0.8;
}

.currency-table td:nth-child(4),
.currency-table td:nth-child(5) {
    font-weight: 600;
}

.currency-table td:nth-child(7) {
    font-weight: 500;
}

.currency-table tbody {
    background: #3D3B3B;
}

.currency-table tbody tr {
    height: 56px;
}

.currency-table thead th, .currency-table tfoot td {
    line-height: 2.85;
}

.currency-table td {
    line-height: 1.5;
}

.currency-table td, .currency-table th {
    padding: 0 18px;
}

.currency-table th:first-child {
    padding: 0 32px;
}

.currency-table td:nth-child(3), .currency-table td:nth-child(4),
.currency-table td:nth-child(5), .currency-table td:nth-child(6),
.currency-table td:nth-child(7), .currency-table td:nth-child(8),
.currency-table th:nth-child(3), .currency-table th:nth-child(4),
.currency-table th:nth-child(5), .currency-table th:nth-child(6),
.currency-table th:nth-child(7), .currency-table th:nth-child(8)  {
    text-align: right;
}

.currency-table td:first-child {
    text-align: center;
}

.currency-table td:nth-child(2), .currency-table th:nth-child(2) {
    text-align: left;
}

.currency-table td span.bottom-text {
    font-size: 12px;
    opacity: 0.7;
}

.currency-table tfoot td {
    text-align: center;
}

.triangle-currency-up, .triangle-currency-down {
    margin: 0 0 3px 5.6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3.25px 5.3px 3.25px;
    border-color: transparent transparent #58BF81 transparent;
}

.triangle-currency-down {
    transform: rotate(180deg);
    border-color: transparent transparent #EB0029 transparent;
}

.currency-up-color {
    color: #58BF81;
}

.currency-down-color {
    color: #EB0029;
}

.binance-coin-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../artifacts/binance-coin-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.binance-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.ethereum-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../artifacts/ethereum-logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table td .wrapper {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.currency-table td .wrapper .currency-pill {
    font-weight: 500;
    line-height: 1.5;
    padding: 3px 6px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}

.circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #000;
}

.green {
    background-color: #4CD964;
}

.red {
    background-color: #FF4E3D;
}

.gray {
    background-color: gray;
}
