@page
@model Flash.Areas.Identity.Pages.LoginModel

<section class="authentication compact">
    <div class="authentication-content">
        <div class="authentication-pane">
            <div class="authentication-pane-content">
                <h2>Sign <span class="highlight-text">in</span></h2>
                <form method="post" class="authentication-form">
                    @if(Model.LoginFailed)
                    {
                        <span class="error-text">User is not recognized. Either the email address or the password is not correct.</span>
                    }
                    <span class="validation-fail" asp-validation-for="Account.EmailAddress"></span>
                    <input asp-for="Account.EmailAddress" class="input-field" placeholder="Email">
                    <span class="validation-fail" asp-validation-for="Account.Password"></span>
                    <input asp-for="Account.Password" class="input-field" placeholder="Password">
                    <div class="check-box-field">
                        <input type="checkbox" id="rememberMe" asp-for="IsPersistent">
                        <label class="check-box" for="rememberMe"><span></span>Remember me</label>
                    </div>
                    <div class="submit-area">
                        <p>Don't have an account?<br><a asp-area="Identity" asp-page="/Register" class="sign-in-link highlight-text">Register</a></p>
                        <button type="submit" class="button signin-button">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}