@page
@model Flash.Areas.Identity.Pages.RegisterModel

<section class="authentication compact">
    <div class="authentication-content">
        <div class="authentication-pane authentication-upper-pane">
            <div class="authentication-pane-content">
                <h1>Flashcards for <span class="highlight-text">everyone</span>!</h1>
                <p>Having a trouble memorizing something? Try out capturing the information you need in our flashcards to make sure you won’t ever forget anything of consequence!</p>
            </div>
        </div>
        <div class="authentication-pane authentication-lower-pane">
            <div class="authentication-pane-content">
                <h2>Have a go with <span class="highlight-text">us</span>!</h2>
                <form method="post" class="authentication-form">
                    <span asp-validation-for="UserCredentials.EmailAddress" class="validation-fail"></span>
                    <input asp-for="UserCredentials.EmailAddress" class="input-field" placeholder="Email">
                    <span asp-validation-for="UserCredentials.Password" class="validation-fail"></span>
                    <input asp-for="UserCredentials.Password" class="input-field" placeholder="Password">
                    <span asp-validation-for="UserCredentials.ConfirmPassword"></span>
                    <input asp-for="UserCredentials.ConfirmPassword" class="input-field" placeholder="Confirm password">
                    <div class="submit-area">
                        <p>Have an account?<br><a asp-area="Identity" asp-page="/Login" class="sign-in-link highlight-text">Sign in</a></p>
                        <button type="submit" class="button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
