@page
@model Flash.Pages.DecksModel
@{
    ViewBag.Title = "Decks page";
}

<section class="decks-section compact pagination-container">
    <div class="browse-section-content">
        <form class="search-bar">
            <input type="text" class="input-field search-field" name="" id="" placeholder="Search deck">
            <button type="submit" class="magnifying-glass"></button>
        </form>

        <div class="decks">
            <form action="" method="post" class="add-deck-form">
                <div class="form-row">
                    <button type="submit" class="button">Add</button>
                    <input type="text" name="" id="" class="input-field" placeholder="Deck name">
                </div>
            </form>
            <div class="decks-info">
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit" class="page-chosen">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
                <div class="deck-block">
                    <form action="" method="post" class="deck-selector-form">
                        <button type="submit">Deck name</button>
                    </form>
                    <form action="" method="post" class="deletion-form">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" class="page-number page-chosen">1</a>
        <a href="#" class="page-number">2</a>
    </div>
</section>
