@page
@model Flash.Pages.EditModel
@{
    ViewBag.Title = "Edit card page";
}

<section class="flashcard-addition-section compact">
    <div class="flashcard-addition-content">
        <form action="">
            <textarea name="D" id="" cols="30" rows="5" class="input-field" placeholder="Front"></textarea>
            <textarea name="" id="" cols="30" rows="5" class="input-field" placeholder="Back"></textarea>
            <button type="submit" class="button">Edit</button>
        </form>
    </div> 
</section>