@using System.Globalization;
@model Tab
@{
    ViewData["Title"] = "Cook Book Order";
    ViewData["HeaderTitle"] = "Your Tab";
}

<section>
    <div class="bg-sur border rounded-full border-outline sticky top-0">
        <a asp-action="FinishOrder" asp-route-itemsOrdered="@Model.DishesCount" class="block text-xl text-center py-5 text-sec">Order @Model.Cost.ToString("C", CultureInfo.CurrentCulture)</a>
    </div>
    <div class="flex flex-wrap gap-x-2 gap-y-5 justify-around">
        @for (int i = 0; i < Model.TabDishes.Count; i++)
        {
            <partial name="_DishOrderCard" model="Model.TabDishes[i]"/>
        }
    </div>
</section>