@model Dish

<div class="flex flex-wrap">
    <div class="max-w-xs rounded-md p-2 text-slate-800 min-w-[200px]">
        <span class="block border-b border-r border-l border-t rounded-t py-3 px-12 bg-slate-50 text-center">@Model.Name</span>
        <ul>
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                <li class="border-b  border-l border-r py-2 text-left px-2">@ingredient.Name</li>
            }
        </ul>
        <div class="flex">
            <a asp-action="Edit" asp-route-dishId="@Model.Id" class="text-center cursor-pointer w-6/12 flex-grow bg-blue-400 hover:bg-blue-500 text-white py-2 rounded-bl-sm">Edit</a>
            <button class="w-6/12 flex-grow bg-red-400 hover:bg-red-500 text-white py-2 rounded-br-sm">Delete</button>
        </div>
    </div>
</div>